language: python
sudo: true

matrix:
    include:
        # # Use the built in venv for linux builds
        # - os: linux
        #   sudo: required
        #   python: 2.7
        - os: linux
          sudo: false
          python: 3.5
        # # Use generic language for osx
        # - os: osx
        #   language: generic
        #   env: PYTHON=2.7.10
        # # Use generic language for osx
        - os: osx
          language: generic
# Perform the manual steps on osx to install python3 and activate venv
before_install: |
  if [ $TRAVIS_OS_NAME == "linux" ]; then
    export CXX="g++-4.9" CC="gcc-4.9" DISPLAY=:99.0;
    sh -e /etc/init.d/xvfb start;
    sleep 3;
  fi
  git submodule update --init --recursive
  nvm install 6.6.0
  nvm use 6.6.0
  npm config set python `which python`
  if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
    brew update;
    brew install python3;
    python3 -m venv venv;
    source venv/bin/activate;
    python --version 
    python -c 'import sys;print(sys.version)' 
    python -c 'import sys;print(sys.executable)' 
  fi
install:
# we have this here so we can see where python is installed and hardcode in our tests
# else when running npm test, the python version picked is completely different :(
  - python --version 
  - python -c 'import sys;print(sys.executable)'
  - pip install -r requirements.txt
  - npm install
  - npm run vscode:prepublish
  
script:
  - npm test --silent
