.vscode/**
typings/**
out/test/**
test/**
src/**
**/*.map
.gitignore
images/**/*.gif
images/**/*.png
tsconfig.json
pythonFiles/**/*.pyc
vsc-extension-quickstart.md
.travis.yml
requirements.txt
webpack.config.js