name: Assign to someone
on:
  issues:
    types: [opened, labeled]
jobs:
  applyTriageLabel:
    name: Apply Triage Label
    runs-on: ubuntu-latest
    # if: github.repository == 'microsoft/vscode-python' && github.event.labels.length == 0
    steps:
      - name: Debug
        run: |
          echo "${{github.event.issue.labels.length}}"
          echo "${{github.event.issue.assignees.length}}"
        shell: bash
      - name: Labels Count
        id: labels
        env:
            ISSUE_LABELS: ${{toJson(github.event.issue.labels))}}
        run: |
          echo ::set-output name=count::$(node -p -e "JSON.parse(process.env.ISSUE_LABELS).length")
        shell: bash
      - name: Assignees Count
        id: assignees
        env:
            ISSUE_ASSIGNEES: ${{toJson(github.event.issue.assignees))}}
        run: |
          echo ::set-output name=count::$(node -p -e "JSON.parse(process.env.ISSUE_ASSIGNEES).length")
        shell: bash
      - name: Print labels and assignees
        run: |
          echo ${{steps.labels.outputs.count}}
          echo ${{steps.assignees.outputs.count}}
        shell: bash
      - uses: actions/checkout@v2
      - name: Day of week
        id: day
        run: |
          echo ::set-output name=number::$(node -p -e "new Date().getDay()")
        shell: bash
      - name: Hour of day
        id: hour
        run: |
          echo ::set-output name=hour::$(node -p -e "(new Date().getUTCHours() - 7)%24")
        shell: bash
      - name: Week Number
        id: week
        run: |
          echo ::set-output name=odd::$(node .github/workflows/week.js)
        shell: bash
      - name: Print day and week
        run: |
          echo ${{steps.day.outputs.number}}
          echo ${{steps.week.outputs.odd}}
          echo ${{steps.hour.outputs.hour}}
        shell: bash
      - name: Even late friday (David)
        if: steps.week.outputs.odd == 0 && steps.day.outputs.number == 5 && steps.hour.outputs.hour >= 16
        uses: actions/github@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: assign DonJayamanne
      - name: Odd late friday (Joyce)
        if: steps.week.outputs.odd == 1 && steps.day.outputs.number == 5 && steps.hour.outputs.hour >= 16
        uses: actions/github@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: assign DonJayamanne
      - name: Odd weekends (David)
        if: steps.week.outputs.odd == 1 && (steps.day.outputs.number == 6 || steps.day.outputs.number == 0)
        uses: actions/github@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: assign DonJayamanne
      - name: Even weekends (Joyce)
        if: steps.week.outputs.odd == 0 && (steps.day.outputs.number == 6 || steps.day.outputs.number == 0)
        uses: actions/github@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: assign DonJayamanne
      - name: Odd Monday (David)
        if: steps.week.outputs.odd == 1 && steps.day.outputs.number == 1 && steps.hour.outputs.hour < 16
        uses: actions/github@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: assign DonJayamanne
      - name: Even Monday (Joyce)
        if: steps.week.outputs.odd == 0 && steps.day.outputs.number == 1 && steps.hour.outputs.hour < 16
        uses: actions/github@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: assign DonJayamanne
      - name: Tuesday (Rich)
        if: (steps.day.outputs.number == 1 && steps.hour.outputs.hour >= 16) || (steps.day.outputs.number == 2 && steps.hour.outputs.hour < 16)
        uses: actions/github@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: assign DonJayamanne
      - name: Wednesday (Ian)
        if: (steps.day.outputs.number == 2 && steps.hour.outputs.hour >= 16) || (steps.day.outputs.number == 3 && steps.hour.outputs.hour < 16)
        uses: actions/github@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: assign DonJayamanne
      - name: Thursday (Don)
        if: (steps.day.outputs.number == 3 && steps.hour.outputs.hour >= 16) || (steps.day.outputs.number == 4 && steps.hour.outputs.hour < 16)
        uses: actions/github@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: assign DonJayamanne
      - name: Friday (Claudia)
        if: (steps.day.outputs.number == 4 && steps.hour.outputs.hour >= 16) || (steps.day.outputs.number == 5 && steps.hour.outputs.hour < 16)
        uses: actions/github@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: assign DonJayamanne
